// main:master.less
/*******************************************************************************
********************************* 01-00: Basic *********************************
*******************************************************************************/
/* Adjust for size unit rem. Modern browser are maybe 10px ( 10px/16px ). */
html {
	font-size: 62.5%;
}

/* Simple reset for all elements. */
html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Support for presbyopia ( Yes, I have that. ). */
/* Modern browser are maybe 20px ( 10px * 2rem ). */
body {
	font-size: 2rem;
}
