html {
	font-size: 62.5%;
}

html * {
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}

body {
	font-size: 2.5rem;
}

#whole-wrapper {
	background-color: #ff6600;
}

#main-header {
	text-align: center;
}

#contents-wrapper {
	display: flex;
	align-items: stretch;
}
#contents-area {
	flex-grow: 3;
}

#main-sidebar {
	flex-grow: 1;
	flex-basis: 200px;
}

#main-footer {

}
